@font-face {
  font-family: "brown-regular";
  src: url("fonts/Brown-Regular.woff") format('woff');
}

body {
  /* background-color: rgb(143, 143, 143); */
  background: linear-gradient(rgba(128, 128, 128, 0.6), rgba(128, 128, 128, 0.6)), url("./images/brooklyn_bg_2.jpg") no-repeat center center fixed;
  background-size: cover;
  font-family: "brown-regular";
}

h1 {
  text-align: center;
  margin-bottom: -6%;
  font-size: 36px;
}

#flex-wrap {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  height: 100vh;
}

#map-wrap {
  position: relative;
  align-self: center;
  width: 80%;
}

#map {
  width: 100%;
}

#modal-background {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
  -webkit-animation-name: fadeIn;
  -webkit-animation-duration: 0.4s;
  animation-name: fadeIn;
  animation-duration: 0.4s
}

.modal-content {
  position: relative;
  top: 6%;
  background-color: #e9e9e9;
  width: fit-content;
  padding: 10px 15px;
  margin: 0 auto;
  border-radius: 4px;
  -webkit-animation-name: slideIn;
  -webkit-animation-duration: 0.4s;
  animation-name: slideIn;
  animation-duration: 0.4s;
  -webkit-box-shadow: 0px 0px 10px 3px rgba(0,0,0,0.33);
     -moz-box-shadow: 0px 0px 10px 3px rgba(0,0,0,0.33);
          box-shadow: 0px 0px 10px 3px rgba(0,0,0,0.33);
}


/* Animations */
@-webkit-keyframes slideIn {
  from {top: -300px; opacity: 0} 
  to {top: 6%; opacity: 1}
}

@keyframes slideIn {
  from {top: -300px; opacity: 0}
  to {top: 6%; opacity: 1}
}

@-webkit-keyframes fadeIn {
  from {opacity: 0} 
  to {opacity: 1}
}

@keyframes fadeIn {
  from {opacity: 0} 
  to {opacity: 1}
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

/* ICON STYLING */

.icon {
  position: absolute;
  width: 3.5%;
  cursor: pointer;
  transition: transform .2s;
}

.icon:hover {
  transform: scale(1.4);
}

#icon_0 {
  width: 6%;
  top: 55%;
  left: 22%;
}

#icon_1 {
  top: 45%;
  left: 47%;
}

#icon_2 {
  top: 34%;
  left: 52.5%;
}

#icon_3 {
  top: 42%;
  left: 54%;
}

#icon_4 {
  top: 37%;
  left: 61%;
}

#icon_5 {
  top: 34%;
  left: 65%;
}

#icon_6 {
  top: 43%;
  left: 68%;
}

#icon_7 {
  top: 34%;
  left: 70%;
}

#icon_8 {
  top: 40%;
  left: 72%;
}

#icon_9 {
  top: 45%;
  left: 78%;
}

/* LABEL STYLING */

h3 {
  text-align: center;
}

.label {
  opacity: 0;
  position: absolute;
  cursor: pointer;
  transition: 0.3s;
  font-weight: 600;
  font-size: 16px;
  text-align: center;
}

/* #label_0 {
  top: 50%;
  left: 20%;
} */

#label_1 {
  top: 50%;
  left: 42%;
}

#label_2 {
  top: 26%;
  left: 50%;
}

#label_3 {
  top: 48%;
  left: 48%;
}

#label_4 {
  top: 25%;
  left: 58%;
}

#label_5 {
  top: 24%;
  left: 58%;
}

#label_6 {
  top: 48%;
  left: 62.5%;
}

#label_7 {
  top: 24%;
  left: 68.5%;
}

#label_8 {
  top: 33%;
  left: 74%;
}

#label_9 {
  top: 51%;
  left: 75%;
}

/* MEDIA QUERIES */

@media only screen and (min-width: 1300px) and (min-height: 630px) {

  #map-wrap {
    width: 70%;
  }

}


@media only screen and (max-width: 1024px) and (min-height: 480px){

  h2 {
    font-size: 22px;
  }

  .label {
    font-size: 12px;
  }

  h1 {
    font-size: 32px;
  }

  #map-wrap {
    width: 75%;
  }

  #modal-background {
    padding-top: 15%;
  }

  iframe {
    width: 480px;
    height: 270px;
  }

}

@media only screen and (max-width: 900px) {

  h1 {
    font-size: 28px;
  }

  #label_1 {
    top: 50%;
    left: 41%;
  }
  
  #label_2 {
    top: 25%;
    left: 49%;
  }
  
  #label_3 {
    top: 48%;
    left: 47%;
  }
  
  #label_4 {
    top: 24%;
    left: 57%;
  }
  
  #label_5 {
    top: 23%;
    left: 57%;
  }
  
  #label_6 {
    top: 48%;
    left: 61.5%;
  }
  
  #label_7 {
    top: 23%;
    left: 68%;
  }
  
  #label_8 {
    top: 33%;
    left: 75%;
  }
  
  #label_9 {
    top: 51%;
    left: 73%;
  }

}

@media only screen and (min-width: 812px) and (max-height: 480px) {

  h2 {
    font-size: 20px;
  }

  h1 {
    font-size: 26px;
  }

  #map-wrap {
    width: 60%;
  }

  #modal-background {
    padding-top: 0;
  }

  iframe {
    width: 480px;
    height: 270px;
  }

}

@media only screen and (max-width: 768px) {

  h2 {
    font-size: 20px;
  }

  h1 {
    font-size: 24px;
  }

  #map-wrap {
    width: 90%;
  }

  #modal-background {
    padding-top: 27.5%;
  }

  iframe {
    width: 480px;
    height: 270px;
  }

}

@media only screen and (max-width: 812px) and (max-height: 480px) {

  h2 {
    font-size: 18px;
  }

  h1 {
    font-size: 24px;
  }

  #map-wrap {
    width: 90%;
  }

  #modal-background {
    padding-top: 0;
  }

}

@media only screen and (max-width: 480px) {

  h2 {
    font-size: 18px;
  }

  h1 {
    font-size: 24px;
  }

  #map-wrap {
    width: 90%;
  }

  #modal-background {
    padding-top: 32.5%;
  }

  iframe {
    width: 320px;
    height: 180px;
  }

}